<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/autumn.png">
    <link rel="stylesheet" href="./css/styles.css" type="text/css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
    {{>header}}

    <h3>Use this site to get Weather</h3>
    <h2>{{title}}</h2>
    <form>
        <input placeholder="Location...">
        <button>Search</button>
    </form>
    </div>
       

       <p id="msg1" style="color: violet;"></p>
       <p id="msg2" style="color: red"></p>
    {{>footer}}    
 <script src="./js/app.js"></script>

</body>
</html>